name: Build and Release kubsh

on:
  push:
    tags:
      - 'v*'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install dependencies
        run: |
          sudo apt update
          sudo apt install -y build-essential cmake dpkg-dev

      - name: Build project
        run: |
          make clean
          make
          make deb

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: kubsh-deb
          path: kubsh_1.0.0_amd64.deb
